.ceo_image__style{
    position: absolute;
    width: 500px;
    height: fit-content;
    top: 60%;
    overflow: hidden;
}
.ceo_image{
    /* height: 400px; */
    width: 100vw;
}
.ceo_title {
    font-family: sangbleu-Regular;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px

}


.ceo_container{
    background-color: #fff !important;
    height: 50vh;
    /* width: 100vw; */
}

.text-font_style {
    font-family: var(--cormorant);
    
}
.text-font_style_bold {
    font-family: var(--cormorant-bold);
}

@media (max-width: 900px) {
    .ceo_title{
        font-size: 12px;
    }
}