.contact-banner {
    background: linear-gradient(180deg, rgba(42, 42, 42, 0.911), rgba(0, 0, 0, 0.445)), url('https://excel-adeniyi.github.io/planetImages/ai-generated-9132000_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}